html {
    background-color: #f2f2f2;
}
body {
    width: 1200px;
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
.sedona-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-header {
    position: relative;
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #000000;
    font-weight: bold;
}
.logo-wrapper {
    position: absolute;
    top: 0;
    left: 531px;
    width: 138px;
}
.navigation-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.navigation-list li {
    width: 25%;
    padding: 15px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.navigation-list li:nth-child(1) {
    padding-left: 72px;
    text-align: left;
}
.navigation-list li:nth-child(2) {
    padding-left: 12px;
    text-align: left;
}
.navigation-list li:nth-child(3) {
    padding-right: 17px;
    text-align: right;
}
.navigation-list li:nth-child(4) {
    padding-right: 72px;
    text-align: right;
}
.navigation-list a {
    color: #000000;
}
.navigation-list a:focus,
.navigation-list a:hover {
    color: #81b3d2;
    outline: none;
}
.navigation-list a:active {
    color: #000000;
    opacity: 0.3;
}
.navigation-list .active {
    color: #766357;
    opacity: 1;
    cursor: default;
}
.main-container {
    width: 1200px;
    background-color: #ffffff;
}
.greeting {
    text-align: center;
    background-image: url("../img/background-welcome-to-sedona.jpg");
    background-color: #9eccef;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1200px auto;
} 
.greeting img {
    padding-top: 76px;
    padding-bottom: 74px;
}
.greeting .deserves {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}
.welcome-description {
    padding-top: 60px;
    padding-bottom: 53px;
    background-color: #ffffff;
}
.welcome-description p {
    max-width: 489px;
    margin: 0 auto;
}
.important-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
}
.important-reasons-item {
    padding-top: 47px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.important-reasons-item h2 {
    width: 160px;
    margin: 0 auto 24px;
    font-size: 21px;
    line-height: 21px;
}
.important-reasons-item p {
    width: 310px;
    margin: 21px auto;
}
.city-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.city-advantages-item {
    width: 33.33%;
    margin: 0 auto;
    padding: 144px 0 56px 0;
    text-align: center;
}
.city-advantages-item h2 {
    position: relative;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}
.housing::before {
    content: "";
    position: absolute;
    top: -101px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/housing.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.food::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 163px;
    width: 75px;
    height: 70px;
    background-image: url("../img/food.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.souvenirs::before {
    content: "";
    position: absolute;
    top: -105px;
    left: 169px;
    width: 75px;
    height: 76px;
    background-image: url("../img/souvenirs.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.city-advantages-item p {
    max-width: 286px;
    margin: 25px auto;
}
.reasons {
    background-color: #eeeeee;
}
.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.reasons-item {
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
    padding: 47px 0 38px 0;
}
.reasons-item h2 {
    width: 120px;
    margin: 0 auto 24px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}
.reasons-item p {
    width: 277px;
    margin: 21px auto;
}
.form-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.searhc-form-wrapper {
    position: relative;
}
.search-paragraph {
    width: 440px;
    padding: 50px 0;
    margin: 0 auto;
}
.search-paragraph p {
    margin: 0;
}
.search-paragraph .interested {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}
.button-open-form {
    padding: 30px;
    width: 568px;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #766357;
}
.button-open-form:focus,
.button-open-form:hover {
    background-color: #604e43;
}
.button-open-form:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.button-send {
    padding: 16px 197px 16px 195px;
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #81b3d2;
}
.button-send:focus,
.button-send:hover {
    background-color: #669ec0;
}
.button-send:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.search-form {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 568px;
    text-align: left;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.search-list {
    padding: 41px 50px 40px 55px;
    margin: 0;
    border: none;
}
.search-list input {
    width: 284px;
    padding: 7px 48px 6px 10px;
    text-transform: uppercase;
    font: inherit;
    border: 2px solid #f2f2f2;
    outline: none;
    background-color: #f2f2f2;
}
.search-list input:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
}
.search-list input:focus {
    background-color: #ffffff;
}
.search-arrival {
    position: relative;
    margin-bottom: 29px;
}
.search-arrival label {
    margin-right: 21px;
}
.search-departure {
    position: relative;
    margin-bottom: 30px;
}
.search-departure label {
    margin-right: 17px;
}
.calendar {
    position: absolute;
    top: 1px;
    left: 420px;
    width: 38px;
    height: 38px;
    background: transparent;
    outline: none;
    border: 0;
    opacity: 0.3;
}
.calendar:focus,
.calendar:hover {
    fill: #000000;
    opacity: 1;
}
.calendar:active {
    fill: #81b3d2;
    opacity: 1;
}
.search-element {
    margin-bottom: 30px;
    position: relative;
}
.adults {
    margin-right: 85px;
    margin-left: 75px;
}
.children {
    margin-left: 64px;
}
.search-element input {
    width: 34px;
    height: 34px;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
    background-color: #f2f2f2;
}
.search-element button {
    padding: 0;
    outline-color: #bebebe;
    font-size: 0;
    border: 0;
}
.minus-adults {
    position: absolute;
    top: 0;
    left: 112px;
}
.minus-children {
    position: absolute;
    top: 0;
    left: 344px;
}
.minus {
    width: 38px;
    height: 38px;
    outline: none;
    background-image: url("../img/minus-sprites.png");
    background-position: -27px -22px;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}
.minus:focus,
.minus:hover {
    background-position: -119px -22px;
}
.minus:active {
    background-position: -211px -22px;
}
.plus-adults {
    position: absolute;
    top: 0;
    left: 188px;
}
.plus-children {
    position: absolute;
    top: 0;
    left: 420px; 
}
.plus {
    width: 38px;
    height: 38px;
    outline: none;
    background-image: url("../img/plus-sprites.png");
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    background-position: -27px -26px;
}
.plus:focus,
.plus:hover {
    background-position: -118px -26px;
}
.plus:active {
    background-position: -209px -26px;
}
.button-detail {
    padding: 4px 17px 5px;
    font-weight: bold;
    outline: none;
    color: #ffffff;
    background-color: #81b3d2;
}
.button-detail:focus,
.button-detail:hover {
    background-color: #669ec0;
}
.button-detail:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.button-reservation {
    padding: 4px 17px 5px;
    font-weight: bold;
    outline: none;
    color: #ffffff;
    background-color: #766357;
}
.button-reservation:focus,
.button-reservation:hover {
    background-color: #604e43;
}
.button-reservation:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    background-color: rgba(255,255,255,0.9);
    color: #000000;
}
.main-footer-index {
    margin-top: -120px;
}
.footer-contacts {
    width: 400px;
    padding: 46px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-contacts p {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.social {
    width: 400px;
    padding: 36px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social-list li {
    margin-right: 6px;
}
.social-list li:last-child {
    margin-right: 1px;
}
.social-button {
    width: 46px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    outline: none;
    fill: #ffffff;
    background-color: #81b3d2;
}
.social-button:focus,
.social-button:hover {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
}
.footer-logo {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-logo p {
    max-width: 120px;
    margin: 0 10px 0 0;
    font-size: 14px;
}
.academy-logo {
    margin-top: 5px;
    fill: #000000;
}
.academy-logo:focus,
.academy-logo:hover {
    fill: #81b3d2;
    outline: none;
}
.academy-logo svg:active {
    fill: #000000;
    opacity: 0.3;
}
.filter-form {
    padding: 25px 60px 24px 71px;
    font-size: 14px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #ffffff;
    background-color: #5496bd;
    background-image: url("../img/background-sedona.jpg");
    background-position: center -60px;
    background-repeat: no-repeat;
}
.filter-form legend {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.filter-item {
    padding: 0 119px 0 0;
    margin: 0;
    border: none;
}
.filter-item legend {
    padding-top: 2px;
}
.filter-option {
    padding-top: 25px;
    padding-left: 26px;
}
.filter-option label {
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}
.filter-option label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -25px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}
.checkbox:checked + label::after {
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.checkbox:disabled + label::after{
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off-disabled.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.checkbox:checked:disabled + label::after {
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on-disabled.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
} 
.price {
    width: 320px;
    margin-left: auto;
    margin-right: 0;
    border: none;
}
.price legend {
    margin-bottom: 7px;
}
.price-check {
    position: relative;
    width: 315px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.price-check label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.price-check input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.price-check::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.price-check .min-price {
    padding: 2px 0 4px 66px;
}
.price-check .max-price {
    padding: 2px 0 4px 77px;
}
.range {
    position: relative;
    margin-bottom: 32px;
}
.range .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range .scale-active {
    width: 79%;
    height: 2px;
    background-color: #ffffff;
}
.toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(255,255,255, 0.6);
            box-shadow: 0 2px 1px 0 rgba(255,255,255, 0.6);
    cursor: pointer;
}
.toggle-left {
    left: 0;
}
.toggle-left:hover {
    top: -10px;
    left: -1px;
    border: 9px solid #ffffff;
}
.toggle-right {
    left: 79%;
}
.toggle-right:hover {
    top: -10px;
    left: 78.88%;
    border: 9px solid #ffffff;
}
.filter-button {
    margin-left: 86px;
    padding: 6px 33px 6px 34px;
    font-size: 14px;
    line-height: 20px;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.filter-button:focus,
.filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}
.found-sort {
    padding: 30px 72px;
    font-size: 12px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
}
.found-sort p {
    margin: 0 40px 0 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.found-sort .strong {
    margin: 0 48px 0 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.sort-item a {
    margin-right: 33px;
    color: #c7c7c7;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.sort-item a:focus,
.sort-item a:hover {
    color: #81b3d2;
}
.sort-item a:active {
    color: #000000;
}
.sort-item .active {
    color: #81b3d2;
    opacity: 1;
    border: none;
    cursor: default;
}
.found-sort ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}
.sort {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: auto;
}
.button-sort {
    margin-right: 10px;
}
.button-sort:last-child {
    margin-right: 0;
}
.sort svg{
    fill: #e1e1e1;
}
.sort svg:hover {
    fill: #000000;
}
.sort svg:active {
    fill: #81b3d2;
}
.sort .active {
    fill: #81b3d2;
    opacity: 1;
    cursor: default;
}
.hotels-list {
    border-top: 1px solid #f2f2f2;
}
.hotels-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.hotels-item {
    padding: 30px 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}
.prices-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.prices-item p {
    margin-top: 12px;
    margin-bottom: 16px;
}
.prices-item div {
    margin-right: 6px;
}
.hotels-rating {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.rating-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: auto;
}
.star {
    width: 18px;
    height: 17px;
    margin-left: 5px;
    background-image: url("../img/star.svg");
}
.rating {
    padding: 3px 14px;
    margin: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #666666;
    background-color: #f2f2f2;
}
.photo-hotels {
    margin-right: 30px;
}
.hotels h2 {
    margin: 0;
    margin-top: -4px;
    font-size: 21px;
    
    color: #000000;
}
.hotels h2:focus,
.hotels h2:hover {
    color: #81b3d2;
}
.hotels h2:active {
    color: #e1e1e1;
}