body {
    padding: 0;
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.greeting {
    background-image: url("../img/background-welcome-to-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    text-align: center;
}

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 75px;
    
     /* Временно для сетки */
    min-height: 285px;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
    /* Временно для сетки */
    min-height: 285px;
    background-color: transparent;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo-wrapper {
    width: 138px;
    height: 70px;
    order: 1;
    align-items: center;

}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
    
    background-color: #ffffff;
  
  /* Временно для сетки */
  min-height: auto;
}
.container{
    width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation-wrapper .container {
  display: flex;
    justify-content: space-between;
}
.navigation-list {
    width: 620px;
    margin: 0;
    padding: 0;
  
    list-style: none;
  
    /* Временно для сетки */
    min-height: 70px;
    
}

.navigation-list a {
    color: #000000;
}

.navigation-list a:hover {
    color: #81b3d2;
}

.navigation-list a:active {
    color: #000000;
    opacity: 0.3;
}

.greeting .deserves {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.city-advantages h2 {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.city-advantages {
    list-style: none;
    text-align: center;
}

.reasons-list {
    list-style: none;
}

.reasons-list h2 {
    color: #000000;
}

.reasons-item {
    text-align: center;
}

.reasons-item h2 {
    font-size: 21px;
    line-height: 21px;
}

.interested {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.reasons {
    background-color: #eeeeee;
}

.important-reasons {
    background-color: #81b3d2;
    color: #ffffff;
}

.important-reasons h2 {
    font-size: 21px;
    line-height: 21px;
}

.form-search {
    text-align: center;
}

.search-form-item {
    color: #000000;
    font-weight: bold;
}

.search-form input {
    font: inherit;
    background-color: #f2f2f2;
    border: none;
}

.button-open-form {
    font: inherit;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.main-footer {
    background-color: #ffffff;
    color: #000000;
}

.social-list a {
    text-decoration: none;
    color: #000000;

}

.social-list {
    text-align: center;
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-contacts {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}

.footer-logo {
    text-align: center;
}

.footer-logo p {
    font-size: 14px;
    line-height: 26px
}



.filter-form ul {
    list-style: none;
}

.found-sort ul {
    list-style: none;
}

.found-list ul {
    list-style: none;
}

.calendar {
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: right;

}

.search-form-item button {
    border: 0;
    outline: none;
    padding: 0;
    font-size: 0;
}

.minus {
    width: 12px;
    height: 3px;
    background-image: url("../img/minus-sprites.png");
    background-position: -5px -5px;
    background-repeat: no-repeat;

}

.minus:hover {
    background-position: -27px -5px;
}

.minus:active {
    background-position: -48px -5px;
}

.plus {
    width: 11px;
    height: 11px;
    background-image: url("../img/plus-sprites.png");
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.plus:hover {
    background-position: -26px -5px;
}

.plus:active {
    background-position: -47px -5px;
}

.button-detail {
    background-color: #81b3d2;
    color: #ffffff;
}

.button-detail:hover {
    background-color: #669ec0;
}

.button-detail:active {
    background-color: #5496bd;
}

.button-reservation {
    background-color: #766357;
    color: #ffffff;
}

.button-reservation:hover {
    background-color: #604e43;
}

.button-reservation:active {
    background-color: #503e33;
    opacity: 1;
}

.filter-form {
    background-image: url("../img/background-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
}

.filter-form legend {
    font-size: 16px;
    line-height: 21px;
}

.found-sort {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.found-sort .strong {
    font-size: 21px;
    line-height: 26px;

}

.found-sort a {
    text-decoration: none;
    color: #c7c7c7;
    border-bottom: 1px dotted #c7c7c7;
}

.found-sort a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.found-sort a:active {
    color: #000000;
    border-bottom: none;
}

.rating {
    background-color: #f2f2f2;
    color: #666666;
}

.hotels {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
}

.hotels:hover {
    color: #81b3d2;
}

.hotels:active {
    color: #e1e1e1;
}
